/* GENERICS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  align-items: center;
}

/* UTILS */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.column {
  flex-direction: column;
}

/* STRUCTURE */

/* PRIMA SEZIONE */
.header {
  background-color: #add8e6;
  min-height: 100px;
}

.mezzeria {
  height: 100px;
}

.canarino {
  background-color: #daa520;
  min-height: 50px;
}

.logo {
  margin: 0 40px 0 15px;
}

li {
  padding: 2px 4px;
  display: flex;
}

.bottone {
  margin: 0 15px 0 40px;
}

/* SECONDA SEZIONE */
.blu {
  height: 400px;
  background-color: #00008b;
}

.rosaacceso {
  height: 300px;
  width: 60%;
  margin: 50px 0;
  background-color: #ee82ee;
}

/* TERZA/QUINTA SEZIONE */
.bianco {
  height: 400px;
  background-color: #ffffff;
}

.azzurro {
  height: 300px;
  width: 70%;
  background-color: #1e90ff;
}

.rosa {
  height: 300px;
  width: 30%;
  background-color: #ffc0cb;
}

/* QUARTA SEZIONE */
.grigio {
  min-height: 400px;
  background-color: #d3d3d3;
}

/* SESTA SEZIONE */
.grigione {
  height: 600px;
  background-color: #d3d3d3;
}

.verde {
  height: 500px;
  width: 100%;
  background-color: #228b22;
}

/* SETTIMA SEZIONE */
.nero {
  height: 400px;
  background-color: #23272a;
  border-bottom: whitesmoke;
}

.minoranza {
  height: 300px;
  width: 30%;
  margin: 20px 0;
  background-color: #f08080;
}

.maggioranza {
  height: 300px;
  width: calc(70% / 4);
  margin: 20px 0;
  background-color: #20b2aa;
}

/* OTTAVA SEZIONE */
.footer {
  background-color: #23272a;
}

.piede {
  background-color: #7fffd4;
}
