/* GENERICS */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1180px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

/* UTILS */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* COLORI */

/* PRIMA SEZIONE */
.header {
  background-color: #add8e6;
}

.canarino {
  background-color: #daa520;
}

/* SECONDA SEZIONE */
.blu {
  background-color: #00008b;
}

.rosaacceso {
  background-color: #ee82ee;
}

/* TERZA/QUINTA SEZIONE */
.bianco {
  background-color: #ffffff;
}

.azzurro {
  background-color: #1e90ff;
}

.rosa {
  background-color: #ffc0cb;
}

/* QUARTA SEZIONE */
.grigio {
  background-color: #d3d3d3;
}

/* SESTA SEZIONE */
.verde {
  background-color: #228b22;
}

/* SETTIMA SEZIONE */
.nero {
  background-color: #23272a;
}

.minoranza {
  background-color: #f08080;
}

.maggioranza {
  background-color: #20b2aa;
}

/* OTTAVA SEZIONE */
.footer {
  background-color: #23272a;
}

.piede {
  background-color: #7fffd4;
}
